.section-home{
    display: flex;

    .container-text{
        flex: 1;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-align: center;
        background-color: var(--backgoundColor);
        h2{
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }
        p{
            font-family: "DM Sans", sans-serif;
            font-size: 1.5rem;
            line-height: 1.7;
            margin-bottom: 2rem;
        }
    }


    .container-img{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--backgoundColor);
        img{
            width: 1000px;
            height: 550px;
            object-fit: cover;
            border-radius: 20px;
            -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
        }
    }


}

/*responsive*/

@media (max-width: 820px) {
    .section-home{
        flex-direction: column;

        .container-text{
            flex: 1;
            padding: 1rem;
        }

        .container-img{
            flex: 1;
            padding: 1rem;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}