.container-projects{
    width: 1500px;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorSecondary);

    .card{
        width: 15%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        transition: box-shadow 0.3s ease;
        &:hover{
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }

        h2{
            margin-top: 10px;
        }
        p{
            margin-top: 5px;
        }
        button{
            margin-top: 10px;
        }
    }
}