.home{
    .title{
        display: flex;
        justify-content: space-between;
        align-items: start;
        h1{

            font-size: 2rem;
            font-weight: 500;
            font-family: "Montserrat", sans-serif;
            color: var(--colorTitle);
            text-align: start;
            transition: color 0.3s ease;
            margin: 8px;
            
            
    
        }
    }

}
